@* @{
    Layout = "_BaseLayout";
}

<div class="d-flex mt-125">
    <div class="sidebar my-5">
        <a asp-controller="stats" asp-action="index" class="btn btn-success">Estadísticas</a>
        <a asp-controller="usuarios" asp-action="index" class="btn btn-primary">Usuarios</a>

        <a asp-controller="auth" asp-action="logout" class="btn btn-danger mt-125">Cerrar Sesión</a>
    </div>

    @RenderBody()
</div> *@

@* =============SEGUNDA VERSION DE MUESTREO 2.0 ======================= *@

@{
    Layout = "_BaseLayout";
}

<div class="d-flex mt-125">
    <div class="sidebar my-5">
        <a asp-controller="stats" asp-action="estadisticas" class="btn btn-success"> Dashboard</a>
        <a asp-controller="usuarios" asp-action="index" class="btn btn-primary"> Usuarios</a>
        <a asp-controller="stats" asp-action="index" class="btn btn-secondary"> Configuración ETL Stats</a>
        <a asp-controller="auth" asp-action="logout" class="btn btn-danger mt-125"> Cerrar Sesión</a>
    </div>

    <div class="flex-grow-1 p-4">
        @RenderBody()
    </div>
</div>

<!-- AGREGAR ESTA LÍNEA AL FINAL -->
@RenderSection("Scripts", required: false)